* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  position: fixed;
  z-index: 5;
  width: 100%; }

.burger {
  position: absolute;
  z-index: 10;
  right: 25px;
  top: 25px;
  cursor: pointer;
  transform: rotateY(0);
  -webkit-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
  -moz-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
  -o-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
  transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
  /* custom */ }
  .burger__patty {
    width: 28px;
    height: 2px;
    margin: 0 0 4px 0;
    background: white;
    -webkit-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    -moz-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    -o-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    /* custom */ }
    .burger__patty:last-child {
      margin-bottom: 0; }
  .burger--close {
    transform: rotate(270deg); }
    .burger--close .burger__patty:nth-child(1) {
      transform: rotate(405deg) translate(4px, 4px); }
    .burger--close .burger__patty:nth-child(2) {
      transform: rotate(45deg);
      opacity: 0; }
    .burger--close .burger__patty:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -4px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  text-align: center; }
  .menu--active {
    visibility: visible;
    text-align: center; }
  .menu__brand, .menu__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu__list {
    margin: 0;
    padding: 0;
    background: #292929;
    list-style-type: none;
    transform: translate3d(100%, 0, 0);
    -webkit-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    -moz-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    -o-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    /* custom */ }
    .menu__list--active {
      transform: translate3d(0, 0, 0); }
  .menu__brand {
    background: #333;
    -webkit-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    -moz-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    -o-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    /* custom */
    transform: translate3d(-100%, 0, 0); }
    .menu__brand--active {
      transform: translate3d(0, 0, 0); }
  .menu__item {
    padding: 10px 0;
    transform: translate3d(0, 100vh, 0);
    -webkit-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    -moz-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    -o-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    /* custom */ }
    .menu__item--active {
      transform: translate3d(0, 0, 0); }
  .menu__link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 5px 0;
    font-weight: 300;
    color: white;
    text-decoration: none;
    color: white;
    -webkit-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    -moz-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    -o-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
    /* custom */ }
    .menu__link:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0px;
      height: 2px;
      background: white;
      transform: translateX(-50%);
      -webkit-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
      -moz-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
      -o-transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
      transition: all 1000ms cubic-bezier(0.46, 0.53, 0.3, 0.64);
      /* custom */ }
    .menu__link:hover:before {
      width: 100%; }
  .menu .menu__item:nth-child(1) {
    transition-delay: 0.25s; }
  .menu .menu__item:nth-child(2) {
    transition-delay: 0.5s; }
  .menu .menu__item:nth-child(3) {
    transition-delay: 0.75s; }
  .menu .menu__item:nth-child(4) {
    transition-delay: 1s; }
  .menu .menu__item:nth-child(5) {
    transition-delay: 1.25s; }
  .menu .menu__item:nth-child(6) {
    transition-delay: 1.5s; }

@media screen and (max-width: 768px) {
  .burger--close {
    transform: translate(0px, 30vh); }

  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 30vh; }
    ul.menu__list--active,
    div.menu__brand--active {
      transform: translate3d(0, 0, 0); }

  .menu__list {
    height: 75vh;
    transform: translate3d(0, 100%, 0); }

  .menu__link {
    font-size: 24px; }

  .menu__brand {
    height: 25vh;
    transform: translate3d(0, -100%, 0); }
    .menu__brand .logo {
      width: 90px;
      height: 90px; } }
.logo {
  width: 200px;
  height: 200px;
  background-image: url("../images/1.jpg");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  padding: 10vh;
  margin: auto; }

h1, h2, h3, p {
  margin: 0;
  font-weight: 400; }

main {
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 8vw;
  padding-top: 50px;
  padding-bottom: 50px; }
  main h1 > a {
    color: white;
    text-decoration: none;
    font-size: 48px;
    font-weight: 300; }

/*# sourceMappingURL=menu.css.map */
