/*  If you want to use percent, for example 100%, 
	to make the image fit the whole screen, you 
	must apply height: 100% to both <html> and 
	<body>: 
*/


.parallax_text {
	padding: 0 30px;
	
	 /* height of the screen */
	min-height: 200px;
    height: 30vh; /* no idea what vh means but it's basically %. prevents resizing when address bar in mobile slides away. */
					/* I know it now. It means 30% fôf the current viewport */
	/* align to center with flexbox (?) */
	display: flex;
	justify-content: center; /* horizontal */
	align-items: center; /* vertical */
	
	/* styling */
	font-size:3rem;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
	
	/* The image used */
	background-image: url('../images/mountain_and_clouds.jpg');

   

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*  If you want to use percent, for example 100%, 
	to make the image fit the whole screen, you 
	must apply height: 100% to both <html> and 
	<body>: 
*/


.parallax_notext {
	padding: 0 30px;
	
	 /* height of the screen */
	
    height: 10vh; /* no idea what vh means but it's basically %. prevents resizing when address bar in mobile slides away. */
					/* I know it now. It means 30% fôf the current viewport */
	/* align to center with flexbox (?) */
	display: flex;
	justify-content: center; /* horizontal */
	align-items: center; /* vertical */
	
	/* styling */
	font-size:3rem;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
	
	/* The image used */
	background-image: url('../images/mountain_and_clouds.jpg');

   

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

