/* make variables for different colors */
:root{
	--background: 	#111;
	--highlight: 	#00ACC2;
	--hover: 		#555;
	--text: 		white;

	--skyblue: 		rgb(5, 40,50);
	--skyhigh:		rgb(25,95,105);

	-webkit-font-smoothing: antialiased;
}

html {
    position: relative;
    min-height: 100%;
    
}

* {
  margin: 0;
  padding: 0; 
  color: black;
  text-decoration: none;
  font-family: "Segoe UI",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300 !important;
}

body{
  	background:  linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.2)), url('../images/patterns/ignasi_pattern_s.png');

  	background-repeat: repeat;
  	background-attachment: fixed;
  	line-height: 1.5;

  	/* for sticky footer */
  	margin-bottom: 5vh; 
}



/* **************** ALL CONTENT_CONTAINERS ************** */

.container {
	margin-top: 5vh; 
	margin-bottom: 10vh
}

.container p {
	font-size: calc(15px + .5vh);
}

.container h1 {
	font-size: calc(25px + 3.5vh);
	margin: 3vh;
}

.container h2 {
	font-size: calc(15px + 2.5vh);
}

.container a {
	font-size: calc(15px + .2vw);
}

.titel {
	background: white;
	
	padding-left: 8vw;
	padding-right: 8vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	

	-webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
     box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
	
}



/* ****************** MENU ************************* */
.info a{
	text-decoration: none;
	font-size: calc(15px + .5vh);
	color:black;
}

.info {
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: calc(15px + .5vh);
	color:black;
}

/* ****************** LANDING PAGE ************************* */

#landingpage-container{
	text-align: center;	
}

.emptydiv {
	min-height: 10vh;
}


.footer{
	
	position: absolute;
	bottom: 0;
	width: 100%;

    font-size: font-size: calc(15px + .2vw);
	background: white;
	
	padding: 0; 
	padding-top: 2vh;
	padding-bottom: 2vh;

	text-align: center;

	-webkit-box-shadow: 0px -6px 15px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px -6px 15px 0px rgba(0,0,0,0.2);
	box-shadow: 0px -6px 15px 0px rgba(0,0,0,0.2);
	
}

.php_output {
	color: green;
}


/* ******************* CURRICULUM VITAE ******************* */

#cv-container{

	
}

.cv-list {
	padding: calc(4vw + 0vh);
	padding-top: 2vh;
	padding-bottom: 2vh;

}

.cv-list ul{
	list-style-type: none; 
	 display: flex;
	 flex-wrap: wrap;
	 
	 flex-direction: row;
	 justify-content: space-between;
	}

.cv-list ul li{
	
	flex-grow: 1; /* default 0 */
	flex-basis: calc(15vw + 15vh);
	
	padding: calc(5px + 1vh + 1vw);
	margin: calc(1vw + 1vh);

	background: white;

-webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
}


#cv-container .date {
	font-size: calc(15px + 2vh);	
	margin-right: 5px;
	
}

#cv-container .duration {
	font-size: calc(10px + 1vh);
	font-style: italic;
	white-space: nowrap;
}

#cv-container .text {
	font-size: calc(10px + .5vh);
	text-align: justify;
/* used to force linebreak */
	display: block;
}

/* ****************** Projects-list ********************** */

.projects-list {
	padding: calc(4vw + 0vh);
	padding-top: 2vh;
	padding-bottom: 2vh;

}

.projects-list ul{
	list-style-type: none; 	 
	}

.projects-list ul > li{
		
	padding: calc(5px + 1vh + 1vw);
	margin: calc(1vw + 1vh);

	background: white;

	-webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
	 box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
}

.projects-list ul li img{
		
	max-width: 400px;
}

.projects-inside-list ul{
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	overflow-x: auto;
	background: 
	-webkit-justify-content: flex-start; /* Safari */
    justify-content:         flex-start;

    -webkit-align-items: flex-start; /* Safari */
    align-items:         flex-start;

    -webkit-align-content: stretch; /* Safari */
    align-content:         stretch;

	background:  linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.2)), url('../images/patterns/ignasi_pattern_s.png');
  	background-repeat: repeat;
  	border-radius: 10px;


  	-webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
	 box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
}

.projects-inside-list ul li{
   flex-grow: 0; /* default 0 */
}

@media screen and (max-width: 768px){
	.projects-inside-list ul li{
   flex-grow: 1; /* default 0 */
}
}

#projects-inside-list-svin > ul{
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 5px;
	max-height: 50vh;
}

#projects-inside-list-svin > ul > li{
	margin: 1%;
	padding: 5px;	
	border-radius: 5px;
}

#projects-container .title_1 {
	font-size: calc(15px + 2vh);	
	margin-right: 5px;
	
}

#projects-container .title_2 {
	font-size: calc(10px + 1vh);
	font-style: italic;
	white-space: nowrap;
}

#projects-container .text {
	font-size: calc(10px + .5vh);
	text-align: justify;
/* used to force linebreak */
	display: block;
}

#projects-container .keywords {
	margin-top: 15px;	
	margin-bottom: 15px;
	font-size: calc(10px + .5vh);
	font-style: italic;
}

#projects-container .sources {
	font-size: calc(10px + .5vh);
	text-align: justify;
/* used to force linebreak */
	display: block;
}

#projects-container .images {
	padding-top: 15px;
}

/* ****************** ABOUT ***************************** */

.profile_img {
width: 200px;
  height: 200px;
  background-image: url("../images/curr_profil_img.jpg");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20%;

  margin:auto;
  margin-top:calc(2vw + 2vh); 
  margin-bottom:calc(2vw + 2vh); 
}

/* ****************** SHAKEABLE CONTENT ***************** */

.shake {
  
  animation: shake 3.0s cubic-bezier(0.23, 1, 1.0, 1) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  float: left;
  animation-iteration-count: infinite;
  display: inline;

}



@keyframes shake {
  10%, 90% {
    transform: rotate(1deg);
  }
  20%, 80% {
    transform: rotate(-1deg);
  }
  30%, 70%{
  	transform: rotate(1deg);
  }
  40%, 60% {
    transform: rotate(-1deg);
  }
  
}


