/* make variables for different colors */
:root{
	--background: 	#111;
	--highlight: 	#00ACC2;
	--hover: 		#555;
	--text: 		white;

	--skyblue: 		rgb(5, 40,50);
	--skyhigh:		rgb(25,95,105);
}


body{
	margin: 0;
	padding: 0;
	font-family: "Segoe UI",Arial,sans-serif;
}

* {
  margin: 0;
  padding: 0; 
}

.footer {
	padding: 8vw;
	position: fixed;
	color: white;
	
	width: 100vw;
	bottom: 5px;
}

.footer a{
	color: white;
}

.contact {  
  bottom: 40px;  
}

.sources {
  bottom: 20px;
}

