/* make variables for different colors */
:root{
	--background: 	#111;
	--highlight: 	#00ACC2;
	--hover: 		#555;
	--text: 		white;

	--skyblue: 		rgb(5, 40,50);
	--skyhigh:		rgb(25,95,105);

	-webkit-font-smoothing: antialiased;
}



body{
	margin: 0;
	padding: 0;
	font-family: "Segoe UI",Arial,sans-serif;
	 min-height: 100vh;
  	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/clouds.jpg"); 
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	color: white;
  	line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0; 
  color: white;
  text-decoration: none;
}

/* ****************** MENU ************************* */


.info {
	
}

.info a{
	text-decoration: none;
}

/* ****************** INDEX.HTML ************************* */

main h3 {
	font-style: italic;
}

.emptydiv {
	min-height: 10vh;
}


/* ******************* CURRICULUM VITAE ******************* */

.cv ul li p {
	margin-top: 10vh;

}

.cv ul {
	 list-style-type: none;
}

main .profile_img {
width: 200px;
  height: 200px;
  background-image: url("../images/curr_profil_img.jpg");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20%;
  margin-top: 10vh;
 

}

