/* http://www.w3schools.com/howto/howto_js_topnav.asp */

/* Remove margins and padding from the list, and add a black background color */
ul.topnav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  /*	background-color: rgba(51,51,51, 0.8); */
  background: linear-gradient(-90deg, var(--skyblue), var(--skyhigh));

  position: fixed;
	width: 100%;
		
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1rem;
}


/* Change background color of links on hover */
ul.topnav li:not(:last-child) a:hover {background-color: var(--skyhigh);}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:700px) {
 /* ul.topnav li:not(:first-child) {display: none;} */
  ul.topnav li {display: none; min-height: 50px;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:700px) {
  ul.topnav.responsive {position: fixed; ; 
  
 /* fade-in effect */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -moz-animation: fadein 2s; /* Firefox */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera */
    animation: fadein 2s;

    border-bottom: 2px solid #333;
  }

  ul.topnav.responsive.fadeout{position: fixed; background-color: var(--hover); 
     visibility: hidden;
    opacity: 0;
     prefixes-transition-property: opacity, visibility;
    -prefixes-transition-duration: .4s, 0s;
    -prefixes-transition-delay: 0s, .4s;
 /* fade-out effect */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -moz-animation: fadeout 2s; /* Firefox */
    -ms-animation: fadeout 2s; /* Internet Explorer */
    -o-animation: fadeout 2s; /* Opera */
    animation: fadeout 2s;
  }

  ul.topnav.responsive li.icon {
   position: absolute; right: 5%; top: 0px; 
  }

  ul.topnav.responsive li {
     border-bottom: 2px solid #333;
    float: none;
    display: inline;
  }

  ul.topnav.responsive li a {
    display: block;
    text-align: left;
    width: 75%;
  
  }

  ul.topnav.responsive.icon{
   
    visibility: visible !important;
    opacity: 1.0 !important;
  }

  ul.topnav.responsive li a:hover {
    color: var(--highlight);
  }
}

/* ****************** KEY FRAMES ***************** */

/* used for fade-in effect of menu */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* ________________________*/

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari and Chrome */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
